#calculator-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid black;
    padding: 8px;
}

#screen {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 50px;

    border: 1px solid black;

    margin-bottom: 5px;

    padding-left: 8px;
}

#button-container {
    display: flex;
    flex-direction: row;
}

#number-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 320px;
    height: 320px;
    gap: 5px;
}

#operator-wrapper {
    margin-left: 5px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.number-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;

    width: 100px;
    height: 100px;

    border: 1px solid black;
}